html, body {
    background:#282828;
    color:white;
    font-family:Helvetica,Arial,Verdana;
    width:100%;
    height:100%;
    margin:0;
}

.noScroll {
    overflow:hidden;
}

.cp {
    height:100%;
    width:100%;
    align-items:center;
    justify-content:center;
    flex-flow:row wrap;
    align-content:center;
    display:flex;
}

.hoverLink {
    text-decoration:none;
    color:white;
}

.hoverLink:hover {
    text-decoration:underline;
}

.bottomHalf {
    text-align:center;
    margin:0;
}

.gallery {
    padding-top:1%;
    transition:width 0.5s, height 0.5s, opacity 0.5s;
    overflow:hidden;
}

.gallery * {
    position:relative;
}

.closed {
    width:0%;
    opacity:0;
}

.open {
    width:100%;
    height:auto;
    opacity:1;
}

button[value="true"] {
    background:#004000;
    color:white;
    border:0;
}

button[value="false"] {
    background:#400300;
    color:white;
    border:0;
}

@media (max-width:1200px) {
    .p {
        width:100%;
        text-align:center;
    }
    .p h1 {
        font-size:120px;
        margin:0;
    }
    .p h2 {
        font-size:64px;
        margin:0;
        width:100%;
    }
    .p input {
        width:50%;
        height:28px;
        margin-bottom:30px;
    }
    .header {
        text-align:center;
    }
    .header h1 {
        color:white;
        text-decoration:none;
    }
    .header input {
        width:80%;
        height:26px;
    }
    .header button {
        margin-top:3%;
    }
    .results {
        margin-top:3%;
    }
    #loader, .result {
        margin-left:1%;
        margin-right:1%;
    }
    .result {
        background:black;
        width:98%;
        height:200px;
        margin-bottom:10px;
        overflow-wrap:break-word;
    }
    .result img, .result div {
        float:left;
    }
    .result img {
        padding-top:2%;
        padding-left:1%;
        padding-right:1%;
        width:31%;
        height:80%;
        object-fit:cover;
    }
    .result div {
        padding-top:2%;
        max-width:62.5%;
    }
    .result div * {
        margin:0;
        color:white;
        max-width:92%;
	    overflow:auto;
    }
}

@media (min-width:1200px) {
    .p h1 {
        font-size:96px;
        margin:0;
        width:99%;
    }
    .p h2 {
        font-size:64px;
        margin:0;
        width:100%;
    }
    .p input {
        width:99%;
        height:26px;
        margin-bottom:2.5%;
    }
    .header {
        padding-left:2.25%;
        padding-top:2%;
    }
    .header * {
        float:left;
    }
    .header h1 {
        color:white;
        text-decoration:none;
        margin:0;
    }
    .header input {
        height:28px;
        width:50%;
        margin-left:1.5%;
        margin-top:4px;
        padding-top:0;
        padding-bottom:0;
    }
    .header button {
        margin-top:4px;
        margin-left:1%;
        height:32px;
    }
    .results {
        margin-left:2.25%;
        width:96%;
        margin-top:4%;
    }
    .result {
        background:black;
        color:white;
        height:280px;
        width:100%;
        margin-bottom:1%;
    }
    .result img, .result div {
        float:left;
    }
    .result img {
        object-fit:cover;
        width:25%;
        padding-top:0.5%;
        padding-left:1%;
        padding-right:1%;
        height:90%;
    }
    .result div {
        padding-top:1%;
        width:70%;
        overflow-wrap:break-word;
    }
    .result div * {
        padding-bottom:5px;
        color:white;
        margin:0;
    }
    #s {
        margin-top:0;
        margin-bottom:5px;
    }
    #resultCount {
        margin:0;
    }
    #loader {
        margin-bottom:1%;
    }
}